@page
@model CattleInformationSystem.Web.Pages.FarmDetails

@{
    ViewData["Title"] = "Farm Details";
}
<h1>@ViewData["Title"]</h1>

@if (Model.FarmData != null)
{
    <h3>UBN: @Model.FarmData.UBN</h3>
    <h3>Farm Type: @Model.FarmData.FarmType</h3>

    @using (Html.BeginForm(null, null, FormMethod.Post, new {id = "loginForm"}))
    {
        @Html.HiddenFor(x => x.IsChecked)
        @Html.HiddenFor(x => x.FarmId)

        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            @foreach (var optionName in Model.History.Options)
            {
                <label class="btn btn-secondary @Model.History.GetActive(optionName)">
                    <input type="radio" name="options" autocomplete="off"
                           id="@optionName"
                           value="@optionName"
                           checked="@(Model.History.SelectedOption == optionName)"
                           onchange="this.form.submit()"> @optionName
                </label>
            }
        </div>
    }
    @if (Model.FarmData.Cows != null)
    {
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Lifenumber</th>
                <th scope="col">Gender</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Date First Calved</th>
                <th scope="col">Date Of Death</th>
                <th scope="col">Date Of Arrival</th>
                <th scope="col">Date Of Departure</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var (cow, index) in Model.FarmData.Cows.WithIndex())
            {
                var farmCow = Model.FarmData.FarmCows.FirstOrDefault(fc => fc.CowId == cow.Id);
                <tr>
                    <th scope="row">@(index + 1)</th>
                    <td>
                        <a class="nav-link text-dark" asp-area="" asp-page="/CowDetails" asp-route-cowId="@cow.Id">@cow.LifeNumber</a>
                    </td>
                    <td>@cow.Gender</td>
                    <td>@DateFormatter.Format(cow.DateOfBirth)</td>
                    <td>@DateFormatter.Format(cow.DateFirstCalved)</td>
                    <td>@DateFormatter.Format(cow.DateOfDeath)</td>
                    <td>@DateFormatter.Format(farmCow.StartDate)</td>
                    <td>@DateFormatter.Format(farmCow.EndDate)</td>
                </tr>
            }
            </tbody>
        </table>
    }
}